/* body {
    padding: 50px;
} */

.screenshots-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.screenshots-container img {
    margin: 0 auto;
    display: block;
    width: 90%;
    height: auto;
}

@media print {

    .screenshots-container img {
        width: 200px;
    }
}
